<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>blog post creation page</h1>
	<form action="/posts" method="POST">
		<textarea name='title' rows='4' cols = 40 placeholder='title' required></textarea></br>
		<textarea name='text' rows='20' cols = 40 placeholder='text' required></textarea></br>
		<textarea name='image' rows='4' cols = 40 placeholder='image url'></textarea></br>
		<button>Submit</button>
	</form>
</body>
</html>